extends layout

block head-scripts
	link(rel='stylesheet', type='text/css', href='/style_sheets/user_profile.css')

block body-scripts

block navbar
	if user
		if user.role === 'guest'
			.navbar-collapse.navbar-right
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button') Menu
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='/wedding-profile/#{user.myWeddings[0]}') My Weddings
							li
								a(href='/profile/#{user._id}') My Profile
							li
								a(href='/guest-inbox/#{user._id}') Messages
							li
								a(href='#') Notifications
							li.divider
							li
								a(href='/guest-portal/#{user._id}') My Portal
							li.divider
							li
								a.text-warning(href='/logout') Logout
							li.divider
							li
								a.text-warning(href='#guest-cancel-wedding', data-toggle='modal') Suggest to Cancel the Wedding&nbsp;
									span.glyphicon.glyphicon-warning-sign
	if user
		if user.role == 'host'
			.navbar-collapse.navbar-right
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button') Menu
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='/wedding-profile/#{user._id}') My Wedding
							li
								a(href='#') Notifications
							li
								a(href='/host-portal') My Portal
							li.divider
							li
								a.text-warning(href='/logout') Logout

block content
	if user
		if user.role == 'host'
			.container
				h2.btm-spacer-clean.middle #{user.firstName} & #{user.hostFianceFirstName}
				.row
					.col-md-12.side-cleanup
						.user-portal-prof-pic
							unless user.fbId
								img(src='#{user.profilePic}')
							if user.fbId
								img(src='#{user.profilePic} + width=250&height=250')
					.container.btm-spacer-clean
						.row
							.col-xs-4.col-sm-4.col-md-4
								h4.prof-info Location:
									//- this will need to be something different, maybe #{user.myWeddings.findById...}
									p.user-info #{user.hostWedLocation}
								h4.prof-info Date:
									p.user-info #{user.hostWedDate}
								h4.prof-info Time:
									p.user-info #{user.hostWedTime}
							.col-xs-4.col-sm-4.col-md-4
								h4.prof-info Venue:
									p.user-info #{user.hostWedVenue}
								a(href='#{user.hostSite}')
									button.btn.btn-primary.btn-lg Wedding Site
							.col-xs-4.col-sm-4.col-md-4
								h4.prof-info Reception Venue:
									p.user-info #{user.hostReceptionVenue}
								h4.prof-info Reception Time:
									p.user-info #{user.hostReceptionTime}
			.container
				.row
					h2.btm-spacer-clean.middle Guest List
					.guest-display.btm-spacer-clean
						for guest in userGuests
							.col-md-3.col-sm-4.col-xs-6
								.guest-display-img-container.guest-snippet.snippet-overlay
									a(href='/profile/#{guest._id}')
										unless guest.fbId
											img(src='#{guest.profilePic}')
										if guest.fbId
											img(src='#{guest.profilePic} + width=150&height=150')
										span.overlay
											span.glyphicon.glyphicon-user
								p.snippet-label #{guest.firstName}
					//- h2.btm-spacer.middle Chatter
					//- button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#wedding-page-add-comment-modal') Add to the Chatter
					.wedding-page-chatter.btm-spacer-clean
	if user
		if user.role == 'guest'
			.container
				h2.btm-spacer-clean.middle #{weddingPlanner.firstName} & #{weddingPlanner.hostFianceFirstName}
				.row
					.col-md-12.side-cleanup
						.user-portal-prof-pic
							unless weddingPlanner.fbId
								img(src='#{weddingPlanner.profilePic}')
							if weddingPlanner.fbId
								img(src='#{weddingPlanner.profilePic} + width=250&height=250')
					.container.btm-spacer-clean
						.row.wedding-info-display
							.col-xs-4.col-sm-4.col-md-4
								h4.prof-info Location:
									p.user-info #{weddingPlanner.hostWedLocation}
								h4.prof-info Date:
									p.user-info #{weddingPlanner.hostWedDate}
								h4.prof-info Time:
									p.user-info #{weddingPlanner.hostWedTime}
							.col-xs-4.col-sm-4.col-md-4
								h4.prof-info Venue:
									p.user-info #{weddingPlanner.hostWedVenue}
								a(href='#{weddingPlanner.hostSite}')
									button.btn.btn-primary.btn-lg Wedding Site
							.col-xs-4.col-sm-4.col-md-4
								h4.prof-info Reception Venue:
									p.user-info #{weddingPlanner.hostReceptionVenue}
								h4.prof-info Reception Time:
									p.user-info #{weddingPlanner.hostReceptionTime}
			.container
				.row
					h2.btm-spacer-clean.middle Guest List
					.guest-display.btm-spacer-clean
						for guest in userGuests
							.col-md-3.col-sm-4.col-xs-6
								.guest-display-img-container.guest-snippet.snippet-overlay
									a(href='/profile/#{guest._id}')
										unless guest.fbId
											img(src='#{guest.profilePic}')
										if guest.fbId
											img(src='#{guest.profilePic} + width=150&height=150')
										span.overlay
											span.glyphicon.glyphicon-user
								p.snippet-label #{guest.firstName}
					//- h2.btm-spacer.middle Chatter
					//- button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#wedding-page-add-comment-modal') Add to the Chatter
					.wedding-page-chatter.btm-spacer-clean
	.container.chatter-msg-tem.chatter-msg.inactive
		.row
			.col-md-2.media-left
			.col-md-10.media-body
				h4.media-heading TEST
				p.chatter-body
				button.btn.btn-primary.btn-small.comment-reply(data-toggle='modal', data-target='#wedding-page-comment-reply') Reply
				.container
					.row
						.chatter-reply-section
							.container.chatter-reply-tem.chatter-reply.inactive
								.row
									.col-md-2.media-left
									.col-md-10.media-body
										h4.media-heading
										p.chatter-body
										button.btn.btn-primary.btn-small.comment-reply(data-toggle='modal', data-target='#wedding-page-comment-reply') Reply
										.container
											.row
												.chatter-reply-section
	//- modal for adding a comment to chatter
	#wedding-page-add-comment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='inviteGuests', aria-hidden='true')
			.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4.modal-title Let Your Friends Know How You Really Feel
						.modal-body
							form(method='post', action='/add-chatter')
								.form-group
									label(for='guest-add-chatter-body') Chatter:
									textarea#guest-add-chatter-body.form-control(rows='4', placeholder='Have you thought this through? I mean, like really thought this through?', name='chatterBody')
									.form-spacer-clean
									input.btn.btn-primary(type='submit' value='Add Chatter')
	#wedding-page-comment-reply.modal.fade(tabindex='-1', role='dialog', aria-labelledby='inviteGuests', aria-hidden='true')
			.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4#wedding-page-comment-reply-heading.modal-title
						.modal-body
							form
								.form-group
									label(for='guest-add-chatter-body') Reply:
									textarea#guest-add-chatter-reply-body.form-control(rows='4', placeholder="I can't believe you said that! I am offended.")
						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') Cancel
							button#wedding-page-comment-reply-add.btn.btn-primary(type='button') Add Reply
	#guest-cancel-wedding.modal.fade(tabindex='-1', role='dialog')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4.modal-title Seriously?
						.modal-body
							p Come on, you didn&apos;t really think that we would let you make a suggestion to cancel the wedding? Did you? That would be the worst feature conceived. Not to mention, we bet you&apos;d regret it when you&apos;re sober tomorrow, Derek.
							p.quote-src-right - Plus1 Team